<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is Signup page</title>
</head>
<body>
<section >
     <div class="container">
         <div class="row">
         
           <div class="col-md-6 offset-md-2">
              <div class="my-card mt-1">
              
              <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
		             </div>
              
              
              <div class="container text-center">
              <img  style="width:50px;" src=""  th:src="@{/Image/register.png/}"></img>
               </div>
               
               <h1 class='text-center'>Register Here!!</h1>
               
                <form novalidate action="" th:action="@{/student_register}" method="post" th:object="${student}" >
               
                 <!-- Name Field -->
                  <div class="form-group">
                       <label for="scholar_no_field">Scholar Number</label>
                       <input name="scholar_no"
                        type="number" class="form-control"
                         id="scholar_no_field" 
                         aria-describedby="emailHelp" 
                         placeholder="Enter Here"
                        required="required" 
                        th:value="${student.scholar_no}">
                       
                  </div>
                
                 <!-- Name Field -->
                  <div class="form-group">
                       <label for="name_field">Name</label>
                       <input name="name"
                        type="text" class="form-control"
                         th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                         id="name_field" 
                         aria-describedby="emailHelp" 
                         placeholder="Enter Here"
                        required="required" 
                        th:value="${student.name}">
                        
					<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
       								 
     							 </div>
                       
                  </div>
                  
                
                  
                  <!-- Email Field -->
                  <div class="form-group">
                       <label for="email_field">Email Address</label>
                       <input  
                       name="email" 
                       type="email" 
                       class="form-control"
                        id="eamil_field" aria-describedby="emailHelp" 
                        placeholder="Enter Here"
                        required="required" 
                        th:value="${student.email}">                      
                  </div>
                    <div class="form-group">
                       <label for="contact_no_field">Contact Number</label>
                       <input name="contact_no"
                        type="number" class="form-control"
                         id="contact_no_field" 
                         aria-describedby="emailHelp" 
                         placeholder="Enter Here"
                        required="required" 
                        th:value="${student.contact_no}">
                       
                  </div>
                  
                  <!-- Password Field -->
                  <div class="form-group">
                       <label for="password_field">Password</label>
                       <input
                        name="password" 
                        type="password"
                        class="form-control" id="password_field" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter here"
                        required="required">  
                  </div>
                  
                  <!-- User About field -->
                  <div class="form-group">
                     <textarea
                     name="about"
                      th:value="${student.about}" 
                      placeholder="Enter Something About Yourself"  
                      rows="4" class="form-control"></textarea>
                  
                  </div>
                  
                  <!-- Terms And Condition field -->
                  <div class="form-group form-check text-center">
                     <input type="checkbox" 
                      name="agreement"
                      class="form-check-input"
                      id="agreement"
                      />
                     <label  for="agreement">Accept terms and conditions</label>
                  </div>
                  
                    <div class="container text-center">
                  <button th:action="@{/do_registered}"  type="submit" class="btn bg-primary text-white"> Submit</button>
                 
                  
                  <button type="reset" class="btn bg-warning text-white">Reset</button>
                  </div>
                  
                  
              </div>
           </div>
         </div>
     </div>
</section>

</body>
</html>